* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .app {
  height: 'auto';
  font-family: 'Segoe UI', sans-serif;
  background-color: #1762a8;
  color: #f2f2f2;
  transition: background 0.3s ease, color 0.3s ease;
}

body {
  background-image:
    linear-gradient(to right, transparent 39px, #ff6f6f 1px, transparent 0),
    repeating-linear-gradient(to right, transparent, transparent 23px, #dfdddd6a 24px),
    repeating-linear-gradient(to bottom, transparent, transparent 23px, #dfdddd6a 24px);
  background-size:
    100% 100%,
    100% 100%,
    100% 100%,
    24px 100%,
    100% 24px;
  background-repeat: no-repeat, no-repeat, repeat, repeat, repeat;
  background-position: top left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Brand font */
@font-face {
  font-family: 'Notedry';
  src: url('./assets/fonts/Notedry.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

