/* slick carousel default styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

@font-face {
  font-family: 'Notedry';
  src: url('./assets/fonts/Notedry.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

